/* Reset some default styles */
body, h1, h2, p, label, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
}

.auth {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line on smaller screens */
  justify-content: space-around;
  align-items: center;
  min-height: 100vh; /* Set a minimum height for the container */
  background-color: #f5f8fa; /* Twitter-like background color */
}

.gif {
  background-color: #ffffff;
  width: 100%; /* Take the full width on smaller screens */
  height: 50vh; /* Set a percentage height for responsiveness */
  background-image: url("https://images.pexels.com/photos/1022922/pexels-photo-1022922.jpeg");
  background-position: center;
  background-size: cover; /* Ensure the background image covers the entire container */
}

.form {
  flex: 1; /* Take the remaining width */
  display: flex;
  flex-direction: column;
  color: #1da1f2; /* Twitter-like text color */
  padding: 20px; /* Add padding for better spacing */
  max-width: 400px; /* Set a maximum width for the form */
  margin: auto; /* Center the form */
}

.form h1 {
  font-size: 3rem; /* Adjust the font size as needed */
  color: #1da1f2; /* Twitter-like text color */
  text-align: center; /* Center the text */
}

.form label {
  margin-bottom: 8px;
}

.form input {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccd6dd; /* Twitter-like input border color */
  background-color: #ffffff; /* Twitter-like input background color */
}

.form button {
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  background-color: #1da1f2;
  color: #ffffff;
  margin-bottom: 2rem;
  cursor: pointer;
}

.form button:hover {
  background-color: #0d8ef6; /* Twitter-like button hover color */
}

.form p {
  margin-top: 16px;
  color: #657786;
  text-align: center; /* Center the text */
}

.form span {
  color: #1da1f2;
  cursor: pointer;
  display: block; /* Make the span a block element to ensure it takes the full width */
  text-align: center; /* Center the text */
}

.form span:hover {
  text-decoration: underline;
}
